.Add_points {
  position: fixed;
  bottom: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  z-index: 10;
  width: 100%;
  font-size: 20px;
}

.Add_points_button {
  bottom: 5px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  width: 20px;
  height: 20px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  color: white;
  text-shadow: -1px -1px 1px rgba(0,0,0,0.8);
  border: 5px solid transparent;
  border-bottom-color: rgba(0,0,0,0.35);
  background: #FD6287;
  cursor: pointer;
  outline: 0 !important;

  animation: pulse 1s infinite alternate;
  transition: background 0.4s, border 0.2s, margin 0.2s;
}

.Add_points_button:hover, .Add_points_button_close {
  background: #AA44F6;
  margin-top: -1px;
  animation: none;
}

.Add_points_button:active {
  border-bottom-width: 0;
  margin-top: 5px;
}

@keyframes pulse {
  0% {
    margin-bottom: 3px;
  }
  100% {
    margin-bottom: 9px;
  }
}

.Add_points_form {
  color: #ffffff;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  border-radius: 10px;
  background-image: linear-gradient(to bottom right, #AA44F6, #FD6287);
  border: 5px solid transparent;
  border-bottom-color: rgba(0,0,0,0.35);
  width: 300px;
}

.Add_points_form > label > input, select {
  border: 0;
  border: 5px solid transparent;
  border-radius: 5px;
  width: 200px;
  font-size: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  margin: 5px;
  padding: 0;
}

.Add_points_label {
  display: inline-block;
  width: 60px;
  margin: 0;
}

.Add_points_submit {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  width: 100px;
  height: 35px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  color: white;
  text-shadow: -1px -1px 1px rgba(0,0,0,0.8);
  border: 5px solid transparent;
  border-bottom-color: rgba(0,0,0,0.35);
  background: #AA44F6;
  cursor: pointer;
  outline: 0 !important;
  margin: 10px;
}

textarea:focus, input:focus, select:focus {
    outline: none;
}
