.Header {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

.Header_top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  white-space: nowrap;
}

/* Mobile devices */
@media only screen and (max-width: 600px) {
  .Header_top {
    font-size: 4vw;
  }

  .Header_leaves {
    height: 20vw;
    padding: 0 2vw 1vw 2vw;
  }

  .Header_title {
    width: 40vw;
  }
}

/* Bigger devices */
@media only screen and (min-width: 600px) {
  .Header_top {
    font-size: 25px;
  }

  .Header_leaves {
    height: 120px;
    padding: 0 30px 15px 30px;
  }

  .Header_title {
    width: 200px;
  }
}

.Header_leaves_right {
  transform: scaleX(-1);
}

.Header_title {
  position: relative;
  background-color: #f3e79a;
  color: #AA44F6;
  margin-top: 10px;
  height: 30px;
  font-size: 20px;
  box-shadow: 0px 2px 10px 0px rgba(236,206,142,1);
  vertical-align: middle;
  text-align: center;
  padding-top: 3px;
}

/* https://bennettfeely.com/clippy */
.Header_title:before {
  position: absolute;
  content: "";
  background-color: #ECCE8E;
  width: 40px;
  height: 33px;
  float: left;
  left: -20px;
  top: 4px;
  clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0 100%, 30% 50%, 0 0);
  z-index: -1;
}

.Header_title:after {
  position: absolute;
  content: "";
  background-color: #ECCE8E;
  width: 40px;
  height: 33px;
  float: right;
  right: -20px;
  top: 4px;
  clip-path: polygon(100% 0%, 70% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
  z-index: -1;
}
