.Leaderboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  color: #454545;
}

.Leaderboard_song {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.Leaderboard_song_name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  font-size: 25px;
  color: #FFFFFF;
  font-family: 'Orbitron', sans-serif;
  margin-bottom: 10px;
}

.Leaderboard_song_name:before, .Leaderboard_song_name:after {
  content: "-";
  padding: 10px;
}

.Leaderboard_rows {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 5px;
  margin-bottom: 60px;
  box-shadow: 0px 2px 5px 0px rgba(255,255,255,1);
}

.Leaderboard_row {
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

/* Ranking width: 10%; */

.Leaderboard_name {
  width: 35%;
}

.Leaderboard_points {
  width: 30%;
  text-align: right;
}

.Leaderboard_level {
  width: 15%;
  text-align: left;
  padding-left: 5%;
}

/* Mobile devices */
@media only screen and (max-width: 600px) {
  .Leaderboard_row {
    font-size: 4vw;
  }
}

/* Bigger devices */
@media only screen and (min-width: 600px) {
  .Leaderboard_row {
    font-size: 25px;
  }
}
